@font-face {
    font-family: 'SCDrea3';
    src: url('../font/SCDream5.woff') format('woff');
}

@font-face {
    font-family: 'SCDream4';
    src: url('../font/SCDream4.woff') format('woff');
}

@font-face {
    font-family: 'SCDream5';
    src: url('../font/SCDream5.woff') format('woff');
}

body * {
    font-family: 'SCDream4';
    font-size: 16px;
}

.large_size_font {
    font-size: 24px;
}

.small_size_font {
    font-size: 12px;
}

.bold_font {
    font-family: 'SCDream5';
}

.thin_font {
    font-family: 'SCDream3';
}