.fixed_container{
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.flex-wrap{
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.c-flex {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.mt-60 {
    margin-top:60px;
}

.mt-44 {
    margin-top:44px;
}

.mt-36 {
    margin-top:36px;
}

.mr-8 {
    margin-right:8px;
}

.mr-12 {
    margin-right:12px;
}

.mr-24 {
    margin-right:24px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-36 {
    margin-bottom: 36px;
}

.line-height {
    line-height: 2;
}

.rounded {
    border-radius: 4px!important;
}

.top_img {
    max-width: 41.7%;
    flex: 0 0 41.7%;
    position: relative;
}

.test_img {
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
}

.b_line {
    border-bottom: 1px solid #dbdbdb;
}

.gray_color {
    color: #555;
}

.soft_gray_color {
    color: #777;
}