@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
    font-family: 'DM Serif Display';
    src: url(../fonts/DMSerifDisplay-Regular.ttf) format('truetype');
         unicode-range: U+0041-005A, U+0061-007A;
        }

@font-face {
    font-family: 'Nanum Myeongjo';
    src:url(../fonts/NanumMyeongjo-Regular.ttf) format('truetype');
         unicode-range: U+AC00-D7A3;
}


body {
    font-family: 'DM Serif Display', 'Nanum Myeongjo';
    font-size: 20px;
}

/* {
    font-family: 'DM Serif Display';

}*/