


#wrapper{
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
  margin-left:auto;
  margin-right: auto;
}



.container{
  position: absolute;
  margin: 20px;
  width: auto;
}

nav{
  position:relative;
  top: 10px;
  left:0;
  right: 0;;
  width: 1920px;
}


  .backimage{
    margin: -90px 0px;
    width:100%;

    
  }

  
li {

  float: left;
  margin-right: 80;
  font-size: 20px
}    

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255,1);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Nanum Myeongjo';
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}